@import url(./default.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --border: 1px #000 solid;
    --border1-5: 1.5px #000 solid;
    --thm-clr: #000;
    --clrf:#fff;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    min-height: 100%;
    width: 100%;
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    display: flex;
    flex-direction: column;
}
/* 디폴트----------------- */
select{
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
option{
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    /* padding: 0px 2px 1px; */
    white-space: nowrap;
    width: 100%;
    /* padding: .875rem 1.25rem .875rem 1rem; */
}
/* ----------------- */

header{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    color: #000000;
    font-size: 1.5em;
    /* background-color: var(--clrf); */
    z-index: 110;
}
.header-menu{
    height: 100%;
    width: clamp(0%,100%,550px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clrf);
    border-left: var(--border);
    border-left-color: var(--thm-clr);
    transform: translateX(101%);
    transition: transform .3s ease-in-out;
    z-index: 101;
}
.header-menu-btn{
    --header-menu-size: 35px;
    /* border: var(--border);
    border-radius: var(--header-menu-size);
    border-color: var(--thm-clr); */
    width: var(--header-menu-size);
    height: var(--header-menu-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    /* background-color: #fff; */
    /* box-shadow: 0px 0px 5px 0px var(--thm-clr); */
    color: var(--thm-clr);
    cursor: pointer;
    position: relative;
    transition: transform .5s ease-in-out;
}
.menubar{
    width: 45%;
    border: var(--border1-5);
    border-color: var(--thm-clr);
    border-radius: var(--header-menu-size);
    transition: all .5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
        .menubar1{top: 33%;}
        .menubar2{top: 50%;}
        .menubar3{top: 67%;}
#header-menu-btn:checked ~ header .header-menu-btn{
    transform: rotateZ(45deg);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar1{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-90deg);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar3{
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
}
#header-menu-btn:checked ~ header .header-menu-btn .menubar2{
    border-color: #00000000;
}
#header-menu-btn:checked ~ .header-menu{
    transform: translateX(0);
}
/* ----------------- */
main{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 60px;
}


.app{
    width: clamp(500px, 100%, 700px);
    flex: 1;
}
/* 앱인풋 디자인----------------- */
.pay_banner{
    margin-top: 15px;
    padding: 20px;
}
.pay_select-wrap{
    background-color: #f8f8f8;
}
.FilterChangeCategory_filter-work-condition{
    display: flex;
    padding: 20px;
    gap: 5px;
}
.Selectbox_selectbox{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: #b8b8b8;
    line-height: inherit;
    outline: none;
    cursor: inherit;
}
.Selectbox_large,
.InputSelect_input_select-container,
.Button_large{
    position: relative;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    background-color: #fff;
    color: #6a6a6a;
    padding: .875rem 2.5rem .875rem 1rem;
}
.InputSelect_input_select-container{
    padding: .875rem 1.25rem .875rem 1rem;
}
.Selectbox_selectbox__icon,
.InputSelect_input_select__icon{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 12px);
    margin: 0;
    right: 8px;
    color: #171717;
    /* z-index: -1; */
}
.FilterChangeCategory_filter-arrow{
    display: flex;
    align-items: center;
    margin: 0 6px;
}
/* 인풋셀렌션 */
.pay_input-wrap{    
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}
    .pay_input-wrap div div label>span{
        color:#000000;
        font-weight:700;
        display:flex;
        align-items:center;
    }
    
    .InputPrice2_container,
    .InputSelect_input_select{
        padding: 0 20px;
        /* height: 3rem; */
        font-size: .875rem;
        line-height: 1.25rem;
    }
    
    .InputPrice2_container>label,
    .InputSelect_input_select>label,
    .Textfield_container{
        display: flex;
        align-items: center;
        color: #6a6a6a;
        margin: 0 0 16px;
    }
    .Textfield_wrap-input{
        display: flex;
        padding: 0 16px;
        align-items: center;
        border: 1px solid #d2d2d2;
        border-radius: 8px;
        background-color: #fff;
        position: relative;
    }
    .Textfield_wrap-input>input{
        width: 100%;
        height: 46px;
        color: #171717;
        font-size: .875rem;
        caret-color: #ff501b;
    }

    /* 버튼----------------- */
    .pay_button-wrap{
        display: flex;
        gap: 8px;
        margin-bottom: 30px;
        padding: 0 20px;
    }
    .pay_button-wrap button{
        padding: 12px 22px;
        line-height: 1.375rem;
        font-size: 1rem;
        border-radius: 8px;
        font-weight: 600;
        width: 100%;
    }
    .Button_primary{
        color: #fff;
        background-color: #ff501b;
        border: 1px solid #ff501b;
    }




/* ----------------- */

footer{
    width: 100%;
    /* min-height: 100px; */
    background-color: #9fa5af;
    color: #fff;
    padding: 30px 20px;
    margin-top: 20px;
    /* font-size: 1.5em; */
}
/* ----------------- */
.dpnone{
    display: none;
}